#wholebody {
    cursor: url(https://cur.cursors-4u.net/holidays/hol-2/hol137.ani), url(https://cur.cursors-4u.net/holidays/hol-2/hol137.png), auto !important;
    /*cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol317.cur), auto !important;*/
    background: url(media/90sbackground.jpg) rgb(176, 14, 246);
}

#incase {
    position: relative;
    z-index: 5;
    padding-left: 10%;
    margin-top: 3%;
    padding-bottom: 20px;
}

#atbg {
    position: absolute;
    margin-left: 60%;
    z-index: 1;
    border: .5cm rgb(255, 0, 157) dashed;
}

#rose {
    position: absolute;
    margin-left: 83%;
    margin-bottom: 3%;
    z-index: 2;
}

#eartheart {
    position: absolute;
    flex: 1;
    padding: 10px 10px 10px 10px;
}

#frog {
    position: relative;
    margin-left: 50%;
}

#besame {
    position: absolute;
}

#hotncold {
    position: relative;
    margin-left: 55%;
    margin-top: 6%;
    z-index: 3;
}

#hotnearth {
    display: flex;
}

#calmtext {
    z-index: 3;
}

#besame,
audio::-webkit-media-controls-panel {
    background-color: rgb(247, 3, 73);
}

#besame,
audio::-webkit-media-controls-mute-button {
    background-color: rgb(87, 118, 164);
    border-radius: 6%;
}

#besame,
audio::-webkit-media-controls-play-button {
    background-color: rgba(126, 251, 255, 0.932);
    border-radius: 50%;
}